@import '../../utils//variables.scss';

.products-description{
    display: flex;
    border: 1px solid red;
    padding: $main-padding;
    align-items: center;
    justify-content: space-between;
    .products-title{
        font-size: 20px;
        font-weight: 900;
        text-transform: uppercase;
    }
    .products-info{
        flex-basis: 50%;
    }
}
.products-cards{
    box-sizing: border-box;
    display: flex;
    border: 1px solid red;
    gap: 15px;
    flex-wrap: wrap;
    padding: 50px 100px;
    justify-content: center;
}