@import '../../utils/variables.scss';

.shopping-cart-container{
    border: 1px solid red;
    height: 100dvh;
    position: fixed;
    right: 0;
    top: 0;
    width: 500px;
    background-color: white;
    box-sizing: border-box;
    padding:$main-padding;
    transition: all 0.2s ease-in-out;
    transform: translateX(100%);
    visibility: hidden;
    z-index: 2;
    
    .shopping-cart-header{
        margin-bottom: 10px;
        display: flex;
        justify-content: space-between;
        h4{
            font-size: 24px;
            font-weight: 900;
        }
        .close-cart-btn{
            color:white;
            cursor: pointer;
            background: #3a82f5;
            border: 2px solid #3a82f5;;
            padding: 5px;
            transition: all 0.1s ease-in;
            font-size: 20px;
        }
    }

    .shopping-cart-list{
        display: flex;
        flex-direction: column;
        gap: 10px;
        .shopping-cart-li{
            display: flex;
            align-items: center;
            gap: 15px;
            border: 1px solid red;
            .shopping-cart-li-img {
                height: 100px;
                width: 400px;
                img{
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                }
            }
            .shopping-cart-li-info{
                display: flex;
                flex-direction: column;
                gap: 10px;
            }
        }
            .shopping-cart-li-rmv-btn{
                svg{
                    font-size: 26px;
                }
                &:hover{
                    svg{
                        fill: red;
                        cursor: pointer;
                        }
                    }
            }
            p{
                font-size: 16px;
            }
            span{
                font-size: 14px;
                color:$primary-color;
            }
        }
    }
    .shopping-cart-footer{
        display: flex;
        flex-direction: column;
        gap: 10px;
    }
    .subtotal{
        margin-top: 10px;
        font-size: 20px;
        font-weight: 900;
    }
    .checkout-btn button{ 
        color:white;
        cursor: pointer;
        background: #3a82f5;
        border: 2px solid #3a82f5;;
        padding: 15px;
        transition: all 0.1s ease-in;
        width: 100%;
        font-size: 20px;
        &:hover{
            background: #2574f3;
            
        }
    }
    .reset-btn button{
        color:white;
        cursor: pointer;
        background: #f53a59;
        border: 2px solid #f53a4d;;
        padding: 15px;
        transition: all 0.1s ease-in;
        width: 100%;
        font-size: 20px;
        &:hover{
            background: #f22d30;
            
        }
    }

    .shopping-cart-container.active{
        transform: translateX(0);
        visibility: visible;
    }