@import '../../utils//variables.scss';

.footer{
    border: 1px solid red;
    padding: $main-padding;
    font-size: 18px;
    h5{
        margin-bottom: 15px;
    }
    .footer__top{
        border: 1px solid red;
        display: flex;
        .links{
            display: flex;
            flex: 1;
            gap: 10px;
            .links__categories{
                display: flex;
                flex-direction: column;
                flex: 1;
                a{
                    margin-bottom:5px;
                }
            }
            .links__pages{
                display: flex;
                flex-direction: column;
                flex: 1;
                a{
                    margin-bottom:5px;
                }
            }
        }
        .info{
            display: flex;
            flex: 1;
            gap: 10px;
        }
        .contact{
            
        }
    }
    .footer__bottom{
        border: 1px solid red;
        display: flex;
        align-items: center;
        justify-content: space-between;
        font-size: 14px;
    }
}

@media (min-width: $breakpoint-tablet) {
  
}